.google{
    background-color: rgb(9, 131, 131);
    height: 65px;
    width: 120px;
    border-top-left-radius: 0.6cm;
    border-bottom-right-radius: 0.6cm;
    border-left: 5px solid rgb(77, 74, 74);
    border-right: 5px solid rgb(77, 74, 74);
}
h1{
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    text-align: center;
}
